<section class="portfolio" id="portfolio">
  <div data-aos="fade-down">
    <div class="main-text">
      <h2 class="heading">My Projects</h2>
      <span>Simple of my previous projects</span>
    </div>
    <div class="fillter-buttons">
      <button class="button mixitup-control-active" data-filter="all">
        All Work
      </button>
      <button class="button" data-filter=".front">Front-end</button>
      <button class="button" data-filter=".back">Back-end</button>
      <!-- <button class="button" data-filter=".branding">Branding Design</button> -->
    </div>

    <div data-aos="zoom-in-up">
      <div class="portfolio-gallery">
        <div class="portfolio-box mix front back">
          <div class="portfolio-content">
            <h3>e-commerce</h3>
            <p>
              A full web application using the MEAN stack, which stands for
              MongoDB, Express, Angular, and Node.js
            </p>
            <a
              target="_blank"
              href="https://my-ng-shop.netlify.app/"
              class="readMore"
              >Demo</a
            >
          </div>
          <div class="portfolio-img">
            <img src="../../assets/imgs/e-shop.png" alt="" />
          </div>
        </div>
        <div class="portfolio-box mix front back">
          <div class="portfolio-content">
            <h3>e-commerce Admin</h3>
            <p>
              A full web application using the MEAN stack, which stands for
              MongoDB, Express, Angular, and Node.js
            </p>
            <a
              target="_blank"
              href="https://admin-ng.netlify.app/"
              class="readMore"
              >Demo</a
            >
          </div>
          <div class="portfolio-img">
            <img src="../../assets/imgs/e-shop-Admin.png" alt="" />
          </div>
        </div>

        <div class="portfolio-box mix front">
          <div class="portfolio-content">
            <h3>Movies & TV</h3>

            <p>Movie and TV show app with using TMDB api</p>
            <a
              target="_blank"
              href="https://adel-movies.netlify.app/"
              class="readMore"
              >Demo</a
            >
          </div>
          <div class="portfolio-img">
            <img src="../../assets/imgs/movies.png" alt="" />
          </div>
        </div>

        <div class="portfolio-box mix front">
          <div class="portfolio-content">
            <h3>Dashboard</h3>
            <p>
              Responsive dashboards built with Angular and PrimeNG offer a
              powerful combination for creating modern, user-friendly data
              visualization interfaces.
            </p>
            <a
              target="_blank"
              href="https://adel-dashbord.netlify.app/"
              class="readMore"
              >Demo</a
            >
          </div>
          <div class="portfolio-img">
            <img src="../../assets/imgs/Dashbord_temp.png" alt="" />
          </div>
        </div>

        <div class="portfolio-box mix front">
          <div class="portfolio-content">
            <h3>Ad Flex</h3>
            <p>Movie and TV show app with using TMDB api</p>
            <div class="">
              <a
                target="_blank"
                href="https://adflex.netlify.app/"
                class="readMore"
                >Demo</a
              >
            </div>
          </div>
          <div class="portfolio-img">
            <img src="../../assets/imgs/AdFlex.png" alt="" />
          </div>
        </div>

        <div class="portfolio-box mix back">
          <div class="portfolio-content">
            <h3>Story</h3>
            <p>
              This application leverages Node.js and Express powered by MongoDB,
              implementing Google OAuth for secure authentication, and enabling
              seamless CRUD (Create, Read, Update, Delete) operations for
              managing storeys
            </p>
            <a
              href="https://story-c4s8.onrender.com"
              target="_blank"
              class="readMore"
              >Demo</a
            >
          </div>
          <div class="portfolio-img">
            <img src="../../assets/imgs/story.png" alt="" />
          </div>
        </div>

        <div class="portfolio-box mix front">
          <div class="portfolio-content">
            <h3>TODO</h3>
            <p>
              TODO application using Angular, where you'll explore essential
              concepts such as drag-and-drop functionality, CRUD operations in
              Angular, and the integration of Angular Material components.
            </p>
            <a
              target="_blank"
              href="https://adel-todo.netlify.app/"
              class="readMore"
              >Demo</a
            >
          </div>
          <div class="portfolio-img">
            <img src="../../assets/imgs/todo.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
